<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YMA内部OA平台</a>
    </nav>
    <div class="container mt-5 text-center">
        <h1 class="mb-4">任务管理</h1>
        <a href="/create-task" class="btn btn-primary btn-lg btn-block mb-3">创建任务</a>
        <a href="/task-list" class="btn btn-secondary btn-lg btn-block">任务列表</a>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
